


/* carousel */
.swiper-pagination-bullet-active {
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%) !important;
}


.set-width {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate {
  white-space: nowrap;
  position: relative;
}